{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('') }}{% endblock %}
{% block extrastyle %}
<style>


</style>

{% endblock %}

{% block addpic %}
<h1 align="left">
        <img src="{% static "images/kkuligin.png" %}" style="height:100px;padding:20px;" />
</h1>
{% endblock %}
 {% block extrahead %}
   
   <link rel="shortcut icon" href="{% static 'images/kkuligin_AC22_R2A.png'  %}" />

{% endblock %}  
{% block branding %}
<h2 id="site-name">
        
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('') }}</a></h2>
{% endblock %}

{% block nav-global %}{% endblock %}